<template lang="pug">
  div()
    |List:
    ul
      ListEntry(
        v-for="item of items"
        :key="`item#${item.id}`"
        :item="item"
      )
</template>

<script lang="ts">
import Vue from 'vue'

import { mapActions, mapState, mapGetters } from 'vuex'

import ListEntry from './ListEntry.vue'

export default Vue.extend({
  name: 'ListMain',

	components: { 
    ListEntry
  },
  
  data: () => ({}),

  mounted() {
    this.fetchItems()
  },

  computed: {
    ...mapState('list', ['items']),
    ...mapGetters('list', ['isLoading']),
  },

  methods: {
    ...mapActions('list', [
      'fetchItems',
      'testAction'
    ]),
  }
})
</script>
