<template lang="pug">
  div
    |This is an item {{ $route.params.id }}
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
	name: 'ListItem',

	components: { 
  },

  computed: {
  }
})
</script>
