<template lang="pug">
  li
    router-link(:to="itemLink") {{ itemLabel }}
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  name: 'ListEntry',

	components: { 
  },

  props: {
    item: {
      type: Object,
      required: true,
      default: {}
    }
  },
  
  data: () => ({}),

  computed: {
    itemLink() {
      return `${this.item.id}`
    },

    itemLabel() {
      return `${this.item.label}`
    }
  },
})
</script>
