<template lang="pug">
  svg(
    v-if="!!name"
    viewBox="0 0 64 64" 
    :width="size" 
    :height="size"
    version="1.1" 
    xmlns="http://www.w3.org/2000/svg"
  )
    g(
      v-html="svgSource"
      :stroke="stroke"
      :fill="fill"
    )
</template>

<script lang="ts">
import Vue from 'vue'

const source = {
  'default': '<line x1="0" y1="0" x2="64" y2="64" /><line x1="64" y1="0" x2="0" y2="64" />'
}

export default Vue.extend({
  name: 'SvgIcon',

  props: {
    'size': {
      type: [Number, String],
      required: false,
      default: 24
    },
    'stroke': {
      type: String,
      required: false,
      default: 'black',
    },
    'fill': {
      type: String,
      required: false,
      default: '',
    },
    'name': {
      type: String,
      required: false,
      default: '',
    },
  },

  computed: {
    svgSource() {
      return source[this.name]
    }
  },
})
</script>
