<template lang="pug">
  div(class="app")
    Header
    router-view(class="content")
    Footer
</template>

<script lang="ts">
import Vue from 'vue'

import Header from './comp/Header.vue'
import Footer from './comp/Footer.vue'

export default Vue.extend({
	name: 'app',

	components: { 
    Header,
    Footer
  },

  computed: {
  }
})
</script>

<style lang="scss" scoped>
  .app {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;

    & .content {
      flex: 1 0 auto;
    }
  }
</style>