<template lang="pug">
  div(class="header")
    |-:
    router-link(to="/") Home
    router-link(to="/list/") List
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
	name: 'Burger',

	components: { 
  },

  computed: {
  }
})
</script>

<style lang="scss" scoped>
  .header {
    color: red;

    & a {
      font-weight: 700;
    }
  }
</style>