<template lang="pug">
  div(class="footer")
    div(class="block") 
      |Ah'ma footer!
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
	name: 'Footer',

	components: { 
  },

  computed: {
  }
})
</script>

<style lang="scss" scoped>
  .footer {
    color: rgba(0,0,0,0.85);
    background: rgba(0,0,0,0.15);

    & .block {
      max-width: 1440px;
      width: 100%;
      margin: 0px auto;
      padding: 16px;
    }
  }
</style>