<template lang="pug">
  div(class="header")
    Burger
</template>

<script lang="ts">
import Vue from 'vue'

import Burger from './Burger.vue'

export default Vue.extend({
	name: 'Header',

	components: { 
    Burger
  },

  computed: {
  }
})
</script>

<style lang="scss" scoped>
  .header {
    color: red;

    & a {
      font-weight: 700;
    }
  }
</style>